.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: white;
    justify-self: center;
    margin: 5% 0 5% 0;
    border-radius: 15px;
    padding-bottom: 2%;
}

.center {
    display: grid;
    grid-template-columns: auto;
}

h2 {
    font-family: 'Secular';
    font-size: 2rem;
    margin-left: 5%;
}

.obsBody {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    justify-items: center;
}

select, input {
    font-family: 'Lexend';
    background-color: #FFDA5F;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    width: 70%;
    margin-bottom: 1.5%;
    padding: 1%;
}

input {
    cursor: text;
}

select {
    width: 72%;
    cursor: pointer;
}

option {
    background-color: #ffeaa7e3;
    cursor: pointer;
}

button {
    background-color: #952bff;
    color: white;
    font-family: 'Secular';
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 1%;
    margin-bottom: 1%;
}

.buttonPosition {
    display: grid;
    grid-template-columns: auto;
    justify-items: flex-end;
    margin-right: 15%;
}

input::placeholder {
    padding-left: 1%;
}