<app-topbar-logged></app-topbar-logged>

<div class="center">
    <div class="content">
        <h2>New observation</h2>

        <form (ngSubmit)="adding(observation)" [formGroup]="addForm">

            <div class="obsBody">
                <select formControlName="birdObs">
                    <option value="" disabled selected hidden>Select the bird</option>
                    <option *ngFor="let bird of birds" [ngValue]="bird.name">{{ bird.name }}</option>
                </select>

                <input formControlName="dateObs" type="date" placeholder="Date (yyyy/mm/dd)">

                <input formControlName="timeObs" type="time" placeholder="Time (hh:mm)">

                <input formControlName="locationObs" type="text" placeholder="Location">
            </div>

            <div class="buttonPosition">
                <button type="submit">Save</button>
            </div>

        </form>
    </div>
</div>