<app-topbar-logged></app-topbar-logged>

<div class="content">
    <div class="whiteBox">
        <h1>
            <img src="https://as1.ftcdn.net/v2/jpg/01/41/11/48/500_F_141114881_1NUIUQ3uDi6EqDijNPoUHPN81dYONt1E.jpg">
        </h1>

        <div class="buttons">
            <button type="button" routerLink="/user"> Return <br> to home </button>
        </div>
    </div>
</div>