.content {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: 70%;
}

button {
    border-radius: 10px;
    border: none;
    font-family: 'Secular';
    font-size: 1.5rem;
    background: #952bff;
    color: white;
    width: 110%;
    cursor: pointer;
}

.buttons {
    display: grid;
    justify-content: end;
    margin-right: 11%;
    margin-top: 4%;
}

.whiteBox {
    background: #FFFFFF;
    border-radius: 15px;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 2%;
}