footer {
    background-color: #ffda5f;
    text-align: center;
    font-family: 'Lexend';
    font-size: 0.7rem;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    position: relative;
    bottom: 0;
}