a {
    text-decoration: none;
    color: black;
    cursor: pointer
}

.center {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: white;
    margin: 5% 0 5% 0;
    border-radius: 15px;
    padding-bottom: 2%;
}

.title {
    margin-left: 5%;
    font-family: 'Secular';
    font-size: 2rem;
}


table {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
}

th,
td {
    width: 200px;
}

thead>tr {
    margin-left: 4%;
    position: relative;
    display: block;
}

tbody {
    display: block;
    overflow: auto;
}

.table-title {
    text-align: center;
    font-family: 'Secular';
    font-size: 1.3rem;
    width: 85%;
}

.table-body {
    font-family: 'Lexend';
    font-size: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #FFDA5F;
    border-radius: 15px;
}

.table-bird {
    padding: 1%;
    padding-left: 2%;
}


.table-date {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 2%;
}

.table-time {
    border-right: 1px solid black;
    padding-left: 2%;
    width: 15%;
}

.table-location {
    padding-left: 2%;
}

.button-new {
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
    margin-right: 6%;
}

.box {
    background: #ffda5f;
    border-radius: 15px;
    padding: 1%;
}

button {
    font-family: 'Secular';
    font-size: 1.3rem;
    text-align: center;
    background: #952bff;
    color: white;
    border: none;
    border-radius: 15px;
    width: 15%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    cursor: pointer;
}

.pad {
    padding-left: 5%;
}

.pad2 {
    padding-right: 1%;
}

a {
    cursor: pointer
}

.popUp {
    border-radius: 20px;
    justify-content: center;
}

h1 {
    font-family: 'Paytone';
    font-size: 2rem;
    display: grid;
    grid-template-columns: 14% auto;
    justify-content: center;
}

.yellow {
    color: #ffda5f;
    font-weight: bold;
}

.yellowButton {
    background-color: #ffda5f;
    width: 32%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.red {
   background-color: #9A4E08;
   color: white;
   width: 32%;
   padding-top: 2%;
   padding-bottom: 2%;
}

.buttons {
    margin-top: 5%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    justify-items: center;
}