<app-topbar-logged></app-topbar-logged>
<div class="center">
    <div class="content">
        <h2 class="title">My observations</h2>

        <table class="table" cellspacing=0>
            <thead>
                <tr class="table-title">
                    <th>Bird</th>
                    <th>Date</th>
                    <th class="pad">Time</th>
                    <th>Location</th>
                    <th class="pad2">Edit | Delete</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let observation of observations">
                    <td class="table-bird">{{ observation.birdObs }}</td>
                    <td class="table-date">{{ observation.dateObs }}</td>
                    <td class="table-time">{{ observation.timeObs }}</td>
                    <td class="table-location">{{ observation.locationObs }}</td>
                    <td>
                        <a (click)="updateObservation(observation.idObs!)"> <i class="fa-solid fa-pencil"></i> </a> |
                        <a (click)="openModal('delete', observation.idObs!)"> <i class="fa-solid fa-trash-can"></i> </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="button-new">
            <button routerLink="/add-observation"> New observation </button>
        </div>
    </div>
</div>

<jw-modal class="popUp" id="delete">
    <h1>
        <div class="yellow"> Hey! </div>
        <div class="black"> Are you sure? </div>
    </h1>
    <div class="buttons">
        <button class="red" type="submit" (click)="deleteById()">Yes!</button>
        <button class="yellowButton" (click)="closeModal('delete')">No...</button>
    </div>
</jw-modal>