<div class="content">
    <header>
        <a routerLink="/user">
        <img src="../../assets/birdpeek-icon.png">
          <strong> Birdpeek </strong> </a>
    </header>
 
    <nav>
        <a routerLink="/bird-list"> <i class="fa-solid fa-dove"></i> My birds </a>
        <a routerLink="/add"> <i class="fa-solid fa-plus"></i> Add bird </a>
        <a routerLink="/my-observations"> <i class="fa-solid fa-binoculars"></i> Observations </a>
        <a routerLink="/profile"><i class="fa-solid fa-user"></i> Profile </a>
        <a routerLink="/home"> <i class="fa-solid fa-door-open"></i> Logout </a>
    </nav>
</div>