header {
    font-family: 'Paytone';
    font-size: 2rem;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5%;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: auto;
    padding-bottom: 1%;
    align-content: center;
}

img {
    vertical-align: middle;
}

nav { 
    font-family: 'Paytone';
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-content: space-between;
    justify-items: flex-end;
}

.content {
    margin-top: 0;
    padding-top: 0;
    background-color: #ffda5f;
    display: grid;
    grid-template-columns: auto 60%;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
