<app-topbar-logged></app-topbar-logged>
<div class="content">
    <div class="whiteBox">
        <h2>My bird list:</h2>

        <table>
            <tbody class="table">
                <tr *ngFor="let bird of birds">
                    <div class="yellowBox">
                        <a class="birdBox" [routerLink]="['../single-bird/', bird.id]">
                            <img [src]="[bird.image]">
                            <td class="bird">{{ bird.name }}</td>
                        </a>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>