h1 {
    font-family: 'Paytone';
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.5rem;
    text-align: center;
    align-items: center;
    display: grid;
    padding-left: 20%;
    grid-template-columns: max-content auto;
}

img {
    padding-left: 30%;
    width: 70%;
}

.column {
    display: grid;
    grid-template-columns: 30% 70%;
}

.logo1 {
    color: #ffda5f;
}

.logo2 {
    color: white;
}

header {
    padding-left: 12%;
}

input, button {
    border-radius: 18px;
    border: none;
}

input {
    font-family: 'Lexend';
    background: #ffda5f;
    font-size: 1.3rem;
    margin-bottom: 5%;
    padding: 3%;
    margin-top: 2%;
    padding-left: 5%;
}

button {
    background: #952bff;
    color: white;
    font-family: 'Secular';
    font-size: 1.3rem;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 5%;
    margin-top: 3%;
    padding: 1.3%;
    padding-left: 7%;
    padding-right: 7%;
}

.box {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 9%;
    margin-bottom: 8%;
    margin-left: 40%;
    
    width: 40%;
    padding-top: 3%;
    padding-bottom: 3%;

    background: #FFFFFF;
    border-radius: 15px;    
}

section {
    font-family: 'Lexend';
    font-size: 1.2rem;
    margin-top: 6%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.content {
    height: 96.9vh;
}