<div class="content">

    <app-topbar-not-logged></app-topbar-not-logged>

    <div class="column">
        <h1>
            <img src="../../assets/birdpeek-logo.png">
            <header>
                <strong class="logo1"> Bird</strong><strong class="logo2">peek </strong>
            </header>
        </h1>

        <div class="box">
            <article>
                <input type="text" placeholder="E-mail">
            </article>
            <article>
                <input type="password" placeholder="Password">
            </article>

            <button routerLink="/user"> Log in </button>

            <section>
                <a> Forgot password? </a>
            </section>
            <section> Don't have an account?
                <strong>
                    <a routerLink="/sign-up"> Sign up! </a>
                </strong>
            </section>
        </div>
    </div>
</div>