<app-topbar-logged></app-topbar-logged>

<div class="content">
    <div class="whiteBox">
        <h2> Adding a new bird </h2>

        <div class="center">

            <form (ngSubmit)="adding(bird)" [formGroup]="addForm">

                <article class="fields">
                    <label>*Bird name (portuguese):</label>
                    <input formControlName="name" type="text" placeholder="Bird popular name in portuguese">
                </article>

                <article class="fields">
                    <label>Scientific name:</label>
                    <input formControlName="scientific" type="text" placeholder="Scientific name">
                </article>

                <article class="fields">
                    <label>English name:</label>
                    <input formControlName="englishName" type="text" placeholder="Bird name in English">
                </article>

                <article class="fields">
                    <label>*Image:</label>
                    <input formControlName="image" type="text" placeholder="Image URL">
                </article>

                <article class="fields">
                    <label>Activity period:</label>
                    <input formControlName="activity" type="text" placeholder="Ex.: during the day/night">
                </article>

                <article class="fields">
                    <label>Eating habits:</label>
                    <input formControlName="eatingHabits" type="text" placeholder="What does it eat?">
                </article>

                <article class="fields">
                    <label>Migrates?</label>
                    <input formControlName="migration" type="text" placeholder="Where to?">
                </article>

                <div class="buttons">
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>