.content {
    display: grid;
    justify-items: center;
}

.whiteBox {
    background: #FFFFFF;
    border-radius: 15px;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 3%;
}

h2 {
    font-family: 'Secular';
    font-size: 2rem;
    margin-left: 5%;
}

label {
    font-family: 'Secular';
    font-size: 1.5rem;
}

.center {
    justify-items: center;
}

.fields {
    display: grid;
    grid-template-columns: 35% 50%;
    justify-content: center;
}

article {
    margin-bottom: 1%;
}

input, button {
    border-radius: 10px;
    border: none;
}

input {
    font-family: 'Lexend';
    font-size: 1.3rem;
    background: #ffda5f;
    padding: 1.5%;
    padding-left: 2.5%;
}

button {
    font-family: 'Secular';
    font-size: 1.5rem;
    background: #952bff;
    color: white;
    width: 135%;
    margin-top: 25%;
    cursor: pointer;
}

.buttons {
    display: grid;
    justify-content: end;
    margin-right: 10%;
}

