<app-topbar-not-logged></app-topbar-not-logged>

<div class="content">
    <div class="whiteBox">
        <h2> What you can find here: </h2>

        <table>
            <tbody class="table">
                <tr *ngFor="let bird of birds">
                    <div class="yellowBox">
                        <a class="birdBox" [routerLink]="['../single-bird/', bird.id]">
                            <img [src]="[bird.image]">
                            <td class="bird">{{ bird.name }}</td>
                        </a>
                    </div>
                </tr>
            </tbody>
        </table>

        <div class="buttons">
            <button type="button" routerLink="/home"> <i class="fa-solid fa-arrow-left"></i> Return </button>
        </div>
    </div>
</div>