.content {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}

h2 {
    font-family: 'Secular';
    font-size: 3rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.bird {
    font-family: 'Lexend';
    font-size: 1.3rem;
}

.birdBox {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    padding: 2%;
}

img {
    width: 90%;
    text-align: center;
    border-radius: 5px;
}

.secular {
    font-family: 'Secular';
    font-size: 1.5rem;
}

.table {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    text-align: center;
    justify-content: space-evenly;
    row-gap: 3%;
}

.whiteBox {
    background: #FFFFFF;
    border-radius: 15px;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

.yellowBox {
    background: #ffda5f;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 100% 100%;
    margin-bottom: 10%;
    padding-top: 5%;
    height: 90%;
}

button {
    border-radius: 10px;
    border: none;
    font-family: 'Secular';
    font-size: 1.5rem;
    background: #952bff;
    color: white;
    width: 110%;
    cursor: pointer;
}

.buttons {
    display: grid;
    justify-content: end;
    margin-right: 11%;
    margin-top: 4%;
}

i {
    padding: 1%;
    padding-right: 2%;
}