h1 {
    font-family: 'Paytone';
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.8rem;
    text-align: center;
    padding-top: 2%;
    display: grid;
    grid-template-columns: auto 30%;
    align-items: center;
    justify-content: center;
}

img {
    justify-self: right;
    width: 50%;
}

header {
    margin-left: 5%;
    text-align: left;
}

.logo1 {
    color: #ffda5f;
}

.logo2 {
    color: white;
}

input, button {
    border-radius: 16px;
    border: none;
}

input {
    font-family: 'Lexend';
    background: #ffda5f;
    font-size: 1.3rem;
    padding: 1.5%;
    margin-left: 2%;
    width: 55%;
    margin-bottom: 2%;
}

button {
    background: #952bff;
    color: white;
    font-family: 'Secular';
    font-size: 1.3rem;
    cursor: pointer;
    width: fit-content;
    margin-top: 3%;
    padding: 1.3%;
    padding-left: 7%;
    padding-right: 7%;
    cursor: pointer;
}

label {
    font-family: 'Secular';
}

.box {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
    
    width: 55%;
    padding-top: 3%;
    padding-bottom: 3%;

    background: #FFFFFF;
    border-radius: 15px;
    
}

.column {
    display: grid;
    grid-template-columns: 33% 100%;
    text-align: left;
    margin-left: 6%;
}

.content {
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

.ng-valid:not(form).ng-touched.ng-dirty {
    border: 2px solid green;
    background: rgba(0, 128, 0, 0.247);
}

.ng-invalid:not(form).ng-touched.ng-dirty {
    border: 2px solid red;
    background: rgba(255, 0, 0, 0.267);
}

small {
    font-family: 'Lexend';
    font-size: 0.8rem;
}

.error {
    display: grid;
    justify-content: end;
    margin-right: 10%;
    margin-top: -2%;
    margin-bottom: 2%;
}