<div class="content">

    <app-topbar-not-logged></app-topbar-not-logged>

    <h1>
        <img src="../../assets/birdpeek-logo.png">
        <header>
            <strong class="logo1"> Bird</strong><strong class="logo2">peek </strong>
        </header>
    </h1>

    <div class="center">
        <form (ngSubmit)="register(user)" [formGroup]="registerForm" class="box">

            <article class="column">
                <label> *First name: </label>
                <input formControlName="firstName" type="text" placeholder="First name here" required>
            </article>

            <div class="error" *ngIf="registerForm.controls['firstName'].hasError('required') && 
                (registerForm.controls['firstName'].dirty && registerForm.controls['firstName'].touched)">
                <small> This field can't be empty. </small>
            </div>

            <article class="column">
                <label> Last name: </label>
                <input formControlName="lastName" type="text" placeholder="Last name here">
            </article>

            <article class="column">
                <label> *E-mail: </label>
                <input formControlName="email" type="text" placeholder="Your best e-mail here">
            </article>

            <div class="error" *ngIf="registerForm.controls['email'].hasError('required') && 
                (registerForm.controls['email'].dirty && registerForm.controls['email'].touched)">
                <small> This field can't be empty. </small>
            </div>

            <article class="column">
                <label> *Username: </label>
                <input formControlName="username" type="text" placeholder="Choose an unique username" required>
            </article>

            <div class="error" *ngIf="registerForm.controls['username'].hasError('required') && 
                (registerForm.controls['username'].dirty && registerForm.controls['username'].touched)">
                <small> This field can't be empty. </small>
            </div>

            <article class="column">
                <label> *Password: </label>
                <input formControlName="password" type="password" placeholder="Type your password" required>
            </article>

            <div class="error" *ngIf="registerForm.controls['password'].hasError('required') && 
                (registerForm.controls['password'].dirty && registerForm.controls['password'].touched)">
                <small> This field can't be empty. </small>
            </div>

            <article class="column">
                <label> *Confirm password: </label>
                <input formControlName="confirmPassword" type="password" placeholder="Please confirm your password"
                    required>
            </article>

            <div class="error" *ngIf="registerForm.controls['confirmPassword'].errors">
                <div 
                    *ngIf="registerForm.controls['confirmPassword'].hasError('required') &&
                    (registerForm.controls['confirmPassword'].dirty && registerForm.controls['confirmPassword'].touched)">
                    <small> This field can't be empty. </small>
                </div>
                <div
                    *ngIf="registerForm.controls['confirmPassword'].hasError('mustMatch') &&
                    (registerForm.controls['confirmPassword'].dirty && registerForm.controls['confirmPassword'].touched)">
                    <small> Passwords must match. </small>
                </div>
            </div>

            <article class="column">
                <label> Add a picture? </label>
                <input formControlName="picture" type="text" placeholder="Insert picture URL">
            </article>

            <article class="column">
                <label> Birth date: </label>
                <input formControlName="birthDate" type="text" placeholder="Your birth date (dd/mm/yyyy)">
            </article>

            <button type="submit"> Sign-up </button>
        </form>
    </div>
</div>