<button class="redButton" (click)="openModal('delete')" type="button">Delete <br> bird</button>


<jw-modal id="delete">
    <h1>
        <div class="yellow"> Hey! </div>
        <div class="black"> Are you sure? </div>
    </h1>
    <div class="buttons">
        <button class="red" type="submit" (click)="deleteById(id)">Yes! <br> Delete it.</button>
        <button class="yellowButton" (click)="closeModal('delete')">Well...</button>
    </div>
</jw-modal>