.redButton {
    background: #9A4E08;
    font-family: 'Secular';
    font-size: 1.3rem;
    border-radius: 20px;
    border: none;
    color: white;
    width: 100%;
}

h1 {
    font-family: 'Paytone';
    font-size: 2rem;
    display: grid;
    grid-template-columns: 14% auto;
    justify-content: center;
}

.yellow {
    color: #ffda5f;
}

.yellowButton {
    background-color: #ffda5f;
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
}

.red {
   background-color: #9A4E08;
   color: white;
   width: 50%;
   padding-top: 2%;
   padding-bottom: 2%;
}

button {
    font-family: Secular;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.buttons {
    margin-top: 5%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    justify-items: center;
}