<app-topbar-logged></app-topbar-logged>

<div class="content">
    <div class="whiteBox">
        <h2>Update bird data:</h2>

        <div class="fields">
            <div class="alinhar">
                <label>Bird name (portuguese):</label>
                <input [(ngModel)]="bird.name" type="text" placeholder="Bird popular name in portuguese">
            </div>

            <div class="alinhar">
                <label>Scientific name:</label>
                <input [(ngModel)]="bird.scientificName" type="text" placeholder="Scientific name">
            </div>

            <div class="alinhar">
                <label>English name:</label>
                <input [(ngModel)]="bird.englishName" type="text" placeholder="Bird name in English">
            </div>

            <div class="alinhar">
                <label>Bird image:</label>
                <input [(ngModel)]="bird.image" type="text" placeholder="Image URL">
            </div>

            <div class="alinhar">
                <label>Activity period:</label>
                <input [(ngModel)]="bird.activity" type="text" placeholder="Ex.: during the day/night">
            </div>

            <div class="alinhar">
                <label>Eating habits:</label>
                <input [(ngModel)]="bird.eatingHabits" type="text" placeholder="What does it eat?">
            </div>

            <div class="alinhar">
                <label>Migrates?</label>
                <input [(ngModel)]="bird.migration" type="text" placeholder="Where to?">
            </div>
        </div>

        <div class="buttons">
            <button (click)="updateBird(bird)" type="submit">Update</button>
        </div>
    </div>
</div>