.whiteBox {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: white;
    margin: 5% 0 4% 0;
    border-radius: 15px;
    padding-bottom: 2%;
}

.content {
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Secular';
    font-size: 2rem;
    margin-left: 5%;
    margin-top: 4%;
}

label { 
    font-family: 'Lexend';
    font-size: 1.5rem;
    text-align: start;
}

input, button, select {
    border-radius: 10px;
    border: none;
}

input, select {
    font-family: 'Lexend';
    font-size: 1.3rem;
    background: #ffda5f;
    padding: 1%;
    width: 73%;
    margin-left: 2%;
    justify-items: start;
}

input {
    cursor: text;
    padding-left: 1.5%;
}

option {
    background-color: #ffeaa7e3;
    cursor: pointer;
}

select {
    width: 75%;
    cursor: pointer;
}

.alinhar {
    width: 80%;
    display: grid;
    grid-template-columns: 30% 100%;
    margin-bottom: 1.5%;
}

.fields {
    display: grid;
    grid-template-columns: auto;
    width: 95%;
    justify-items: center;
}

button {
    font-family: 'Secular';
    font-size: 1.5rem;
    background: #952bff;
    color: white;
    width: max-content;
    cursor: pointer;
}

.buttons {
    display: grid;
    justify-content: end;
    margin-right: 11%;
    margin-top: 2%;
    margin-bottom: 2%;
}