<app-topbar-logged></app-topbar-logged>

<div class="content">
    <div class="whiteBox">
        <h2>Update this observation note:</h2>

        <div class="fields">
            <div class="alinhar">
                <label>Bird name:</label>
                <select [(ngModel)]="observation.birdObs">
                    <option value="" disabled selected hidden>Select the bird</option>
                    <option *ngFor="let bird of birds" [ngValue]="bird.name">{{ bird.name }}</option>
                </select>
            </div>

            <div class="alinhar">
                <label>Date:</label>
                <input [(ngModel)]="observation.dateObs" type="date">
            </div>

            <div class="alinhar">
                <label>Time:</label>
                <input [(ngModel)]="observation.timeObs" type="time">
            </div>

            <div class="alinhar">
                <label>Location:</label>
                <input [(ngModel)]="observation.locationObs" type="text" placeholder="Location of the observation">
            </div>
        </div>

        <div class="buttons">
            <button (click)="updateObservation(observation)" type="submit">Update</button>
        </div>
    </div>
</div>