.content {
    display: flex;
    justify-content: center;
}

.whiteBox {
    display: flex;
    flex-direction: column;
    width: 68%;
    background-color: white;
    margin: 5% 0 5% 0;
    border-radius: 15px;
    padding-bottom: 2%;
}

h2 {
    font-family: 'Secular';
    font-size: 2rem;
    margin-left: 8%;
    margin-bottom: 1%;
}

.columns {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
}

.rightColumn {
    display: grid;
    grid-template-rows: 75% 20%;
}

article {
    font-family: 'Lexend';
    font-size: 1.3rem;
    margin-bottom: 10%;
}

label {
    font-weight: bold;
}

button {
    font-family: 'Secular';
    font-size: 1.3rem;
    border-radius: 20px;
    border: none;
    width: 80%;
    cursor: pointer;
}

.buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 85%;
    justify-content: space-evenly;
    align-items: baseline;
    justify-items: end;
}

.update {
    background-color: #ffda5f;
    color: black;

}

.delete {
    background-color: #9A4E08;
    color: white;
}

img {
    border-radius: 15px;
}