<app-topbar-logged></app-topbar-logged>

<div class="content">
    <div class="whiteBox">
        <h2> {{ user.firstName }} {{ user.lastName }} </h2>

        <div class="columns">
            <div class="picture">
                <img src="{{ user.picture }}">
            </div>

            <div class="rightColumn">
                <div class="data">
                    <article>
                        <label> Username: </label>
                        <section> {{ user.username }} </section>
                    </article>

                    <article>
                        <label> E-mail: </label>
                        <section> {{ user.email }} </section>
                    </article>

                    <article *ngIf="user.birthDate">
                        <label> Birth date: </label>
                        <section> {{ user.birthDate }} </section>
                    </article>
                </div>

                <div class="buttons">
                    <button type="button" class="update"> Update account </button>
                    <button type="button" class="delete"> Delete account </button>
                </div>
            </div>
        </div>
    </div>
</div>