<div class="topBar">
    <header>
        <a routerLink="/home">
            <img src="../../assets/birdpeek-icon.png">
            <strong> Birdpeek </strong>
        </a>
    </header>
    <nav>
        <a routerLink="/sign-up"> Register </a>
        <a routerLink="/login"> Login </a>
    </nav>
</div>