.topBar {
    margin-top: 0;
    padding-top: 0;
    background-color: #ffda5f;
    display: grid;
    grid-template-columns: auto 30%;
    align-items: center;
}

header {
    font-family: 'Paytone';
    font-size: 2rem;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2%;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: auto;
    padding-bottom: 0.5%;
    align-content: center;
}

a {
    font-family: 'Paytone';
    color: black;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

nav { 
    font-family: 'Paytone';
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 60% 25%;
    align-content: space-between;
    justify-items: flex-end;
}