@font-face {
    font-family: Lexend;
    src: url('./assets/Lexend-VariableFont_wght.ttf');
}

@font-face {
    font-family: Paytone;
    src: url('./assets/PaytoneOne-Regular.ttf');
}

@font-face {
    font-family: Secular;
    src: url('./assets/SecularOne-Regular.ttf');
}

body, html {
    margin: 0;
    padding: 0;
}