<div class="content">
    <div class="box">
        <label> <i class="fa-solid fa-magnifying-glass"></i> Search: </label>
        <input [(ngModel)]="search" type="text" placeholder="Insert bird name here">
        <button type="button" (click)="searching()"> Let's go! </button>
    </div>
</div> 