.box {
    text-align: center;
    margin-bottom: 2%;

    background: #FFFFFF;
    border-radius: 15px;
    padding: 2%;
    
    width: 40%;
}

label {
    font-family: 'Secular';
    font-size: 1.5rem;
    font-weight: bold;
}

input, button {
    font-size: 1.3rem;
    border-radius: 7px;
    margin-left: 1%;
}

input {
    font-family: 'Lexend';
    font-weight: bold;
    border: none;
    background-color: #ffda5f;
    padding: 0.7%;
    padding-left: 3%;
    padding-bottom: 1.5%;
}

input::placeholder {
    font-size: 1.1rem;
}

button {
    font-family: 'Secular';
    font-weight: bold;
    border-color: lightgray;
    margin-left: 1.5%;
    cursor: pointer;
    padding-bottom: 0.5%;
}

.content {
    display: grid;
    justify-items: center;
}