<app-topbar-logged></app-topbar-logged>

<div class="content">
    <div class="whiteBox">
        <h2> Here's what we found: </h2>

        <ul class="table" *ngFor="let bird of birds">
            <div class="yellowBox">
                <a class="birdBox" [routerLink]="['../single-bird/', bird.id]">
                    <img src="{{ bird.image }}">
                    <article> {{ bird.name }} </article>
                </a>
            </div>
        </ul>
    </div>
</div>