h2 {
    font-family: 'Paytone';
    margin-left: 5%;
    font-size: 2rem;
}

.whiteBox {
    background: #FFFFFF;
    border-radius: 15px;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    display: grid;
}

.content {
    display: grid;
    justify-items: center;
}

.yellowBox {
    background: #ffda5f;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 100% 100%;
    margin-bottom: 10%;
    padding-top: 5%;
    height: 90%;
}

.table {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    text-align: center;
    justify-content: space-evenly;
}

img {
    width: 90%;
    text-align: center;
    border-radius: 5px;
}

.birdBox {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    padding: 2%;
}

article {
    font-family: 'Lexend';
    font-size: 1.3rem;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black
}