<div class="background">

    <app-topbar-not-logged></app-topbar-not-logged>

    <h1>
        <img src="../../assets/birdpeek-logo.png">
        <header>
            <strong class="logo1"> Bird</strong><strong class="logo2">peek </strong>
        </header>
    </h1>

    <div class="actions">
        <h3>What would you like to do?</h3>
        <ul>
            <a class="box" routerLink="/sign-up"> Register </a>
            <a class="box" routerLink="/sample"> See some birds </a>
        </ul>
    </div>
</div>