.background {
    padding-bottom: 3.5%;
}

.logo1 {
    color: #ffda5f;
}

.logo2 {
    color: white;
}

h1 {
    font-family: 'Paytone';
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4.3rem;
    text-align: center;
    padding-left: 15%;
    padding-top: 7%;
    display: grid;
    grid-template-columns: max-content 65%;
}

a {
    font-family: 'Secular';
    color: black;
    text-decoration: none;
}

ul {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding-right: 20%;
}

h3 {
    font-family: 'Secular';
    color: white;
    font-size: 1.7rem;
    width: 31%;
    text-align: center;
    padding-left: 50%;
    padding-top: 10%;
}

img {
    padding-left: 70%;
    width: 90%;
}

header {
    padding-top: 10%;
}

.actions {
    display: grid;
    grid-template-columns: auto 55%;
}

.box {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 25%;

    width: 60%;
    height: 21%;
    padding-top: 2%;

    background: #FFFFFF;
    border-radius: 15px;

    margin-bottom: 5%;
}