<app-topbar-logged></app-topbar-logged>

<div class="content">
    <div class="whiteBox">
        <header>
            <h2> {{ bird.name }} </h2>
        </header>

        <div class="columns">
            <div class="image">
                <img [src]="[bird.image]">
            </div>

            <div class="rightColumn">
                <ul>
                    <li> <strong> Popular bird name (portuguese): </strong> {{ bird.name }} </li>
                    <li> <strong> Scientific name: </strong> <i> {{ bird.scientificName }} </i> </li>
                    <li> <strong> English name: </strong> {{ bird.englishName }} </li>
                    <li> <strong> Activity period: </strong> {{ bird.activity }} </li>
                    <li> <strong> Eating habits: </strong> {{ bird.eatingHabits }} </li>
                    <li> <strong> Migrates? </strong> {{ bird.migration }} </li>
                </ul>
                <div class="buttons">
                    <button type="button" (click)="updateBird(bird.id!)"> Update <br> bird info </button>
                    <app-delete [id]="bird.id!"></app-delete>
                </div>
            </div>
        </div>
    </div>
</div>