.content {
    display: grid;
    justify-items: center;
}

h2 {
    font-family: 'Paytone';
    font-size: 2.5rem;
    text-align: start;
}

header {
    display: grid;
    grid-template-columns: 42%;
    justify-items: center;
}

li {
    font-family: 'Lexend';
    font-size: 1.3rem;
    width: 70%;
    margin-bottom: 1%;
}

ul {
    justify-content: start;
    margin-top: 0;
}

.whiteBox {
    background: #FFFFFF;
    border-radius: 15px;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    display: grid;
}

.columns {
    display: grid;
    grid-template-columns: 40% 80%;
    margin-left: 4%;
}

.rightColumn {
    font-family: 'Lexend';
    font-size: 1.3rem;
    display: grid;
    grid-template-rows: 90% 10%;
}

.buttons {
    display: grid;
    grid-template-columns: 28% 28%;
    width: 60%;
    justify-content: space-evenly;
    margin-left: 5%;
}

button {
    font-family: 'Secular';
    font-size: 1.3rem;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background-color: #ffda5f;
    cursor: pointer;
}

img {
    width: 90%;
    border-radius: 10px;
}

strong {
    font-family: 'Secular';
    font-size: 1.5rem;
}