<app-topbar-logged></app-topbar-logged>

<div class="welcome">
    <h2>
        <img src="../../assets/birdpeek-logo.png">
        <header>
            <div class="fontYellow"> Hi, {{ user.firstName }} ! </div>
            <div class="fontWhite"> Welcome back! </div>
        </header>
    </h2>
</div>

<h3> What would you like to do? </h3>

<nav>
    <div class="search">
        <app-search></app-search>
    </div>

    <ul>
        <a class="box aligning" routerLink="/add">Add a new bird</a>
        <a class="box aligning" routerLink="/bird-list"> See all birds </a>
        <a class="box" routerLink="/add-observation"> Add a new <br> observation </a>
        <a class="box" routerLink="/my-observations"> See all <br> observations </a>
    </ul>
</nav>