h2 {
    font-family: 'Secular';
    font-size: 3rem;
    display: grid;
    grid-template-columns: 16% 35%;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

h3 {
    font-family: 'Secular';
    font-size: 2.5rem;
    margin-left: 5%;
    margin-bottom: 3.1%;
    text-align: center;
    color: white;
}

a {
    font-family: 'Secular';
    color: black;
    text-decoration: none;
    font-weight: bold;
}

ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding-left: 0;
    margin-top: 4%;
}

.box {
    font-size: 1.6rem;
    background: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 8%;
    padding-top: 1.5%;
    
    width: 40%;
    height: 60%;
}

.aligning {
    padding-top: 2.5%;
    padding-bottom: 0;
}

.fontYellow {
    color: #ffda5f;
}

.fontWhite {
    color: white;
}

header {
    text-align: left;
}

img {
    width: 75%;
}
